@font-face {
  font-family: 'Press Start 2P', cursive;
  src: url(../fonts/PressStart2P-Regular.ttf);
}
* {
  margin: 0;
  padding:0;
}
body {
  height: 100vh;
  width: 100vw;
  background: url(../sprites/background/marioBG.jpg) center;
  background-size: cover;
}

.wrapper {
  font-size: 1rem;
}

.logo {
  margin: auto;
  width: 70vw;
  height: 60vh;
}

.minilogo {
  margin: auto;
}

.main, #wrapper {
  padding-top: 5vh;
  text-align: center;
}

.btn, button {
  width: 40vw;
  max-width: 260px;
  height: 6vh;
  background-color: transparent;
  border: none;
  font-size: 3vh;
  font-family: 'Press Start 2P', cursive;
}
.buttons:hover, button:hover {
  cursor: pointer;
  color: #05dbf8;
}

.buttons {
  display: flex;
  justify-content: center;
}

.config {
  text-align: center;
  font-size: 3vh;
  font-family: 'Press Start 2P', cursive;
}

.config .title {
  margin: 20px;
  font-size: 1rem;
  text-align: center;
}

.records-logo {
  display: flex;
  justify-content: center;
}

.records-logo img {
  margin-top: -70px;
  width: 100px;
  height: 100px;
}

.user-name,
.user-score {
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  text-align: center;
}

.user-name h2,
.user-score h2 {
  margin: 10px;
  color: #0385c1;
}

.user-name div,
.user-score div {
  padding: 5px;
  color: #03134b;
}

.user-score {
  width: 100px;
}

.wrapper .cont {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  font-size: 1rem;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.history {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.history-heading,
.history-info {
  padding: 5px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3em;
}

.history-text {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-indent: 10px;
}

.history-text p {
  text-align: justify;
}

@media (max-width: 1280px) {
  canvas {
    max-width: 75%;
  }

  .history-heading h2{
    font-size: 1.3em;
  }

  .history div {
    font-size: 1.1em;
  }

  .history-text p{
    font-size: 1.3em;
  }

  .btn {
    font-size: 1.8em;
    padding: 10px;
    margin: 5px;
  }

  .minilogo img{
    width: 100px;
    height: 100px;
  }

  .wrapper .cont{
    font-size: .8em;
    margin: 0;
    padding: 0;
  }

  .cont div{
    font-size: .8em;
  }

  .history-heading,
  .history-info {
    font-size: 2.2em;
  }

  .history-text {
    font-size: 2em;
  }

  .cont div{
    font-size: 1.8em;
  }
}

@media (max-width: 850px) {
  .config {
    margin: 10px;
    padding: 0;
  }

  .minilogo img{
    width: 100px;
    height: 100px;
  }

  .main-menu {
    font-size: 1.5em;
    margin-bottom: 2.5em;
  }

  .buttons {
    font-size: 1.5em;
  }

  .configH {
    font-size: 0.8em;
  }

  .configI {
    font-size: 0.7em;
    text-indent: 6px;
  }

  img {
    margin-top: -40px;
    width: 50px;
    height: 50px;
  }

  .history {
    font-size: 1.5em;
  }

  .history-heading,
  .history-info {
    font-size: 0.9em;
  }

  .history-text {
    font-size: .8em;
    text-indent: 6px;
  }

  .btn {
    margin: 5px auto;
  }

  .wrapper .cont {
    margin: 10px auto;
    padding: 10px;
    font-size: 1.1em;
  }

  .user-name,
  .user-score {
    font-size: 1em;
  }

  .user-name {
    width: 150px;
  }

  .logo {
    width: 100vw;
  }
}

@media (max-width: 395px) {
  .wrapper {
    height: 300px;
  }

  .minilogo img {
    width: 100px;
    height: 100px;
  }

  .main-menu {
    display: flex;
    margin-bottom: 2.5em;
  }
  .history {
    font-size: 1.2em;
  }

  .btn {
    align-items: center;
    padding: 0;
    margin: 5px auto;
    width: 125px;
    height: 35px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 500;
  }

  .logo {
    width: 100vw;
  }
}

@media (max-width: 280px) {
  .btn {
    font-size: .8em;
  }
  .history-text {
    font-size: .6em;
  }

  .cont div{
    font-size: 1.3em;
  }
}